{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ app_name }}</title>
</head>
<body>
    {% block content %}
    <h1>{{ app_name }}</h1>
    <p>Nama: {{ student_name }}</p>
    <p>Kelas: {{ class_name }}</p>

    <a href="{% url 'main:add_product' %}">
        <button>+ Add Product</button>
    </a>
    <br>
    <a href="{% url 'main:logout' %}">
        <button>Logout</button>
    </a>
   <h5>Sesi terakhir login: {{ last_login }}</h5>
    <hr>
    <a href="?filter=all">
        <button type="button">All Articles</button>
    </a>
    <a href="?filter=my">
        <button type="button">My Articles</button>
    </a> 
    <br><br>
    <h2>Daftar Produk</h2>
    {% if not product_list %}
    <p>Belum ada produk yang terdaftar.</p>
    {% else %}
        {% for product in product_list %}
        <div>
            <h3>{{ product.name }}</h3>
            {% if product.thumbnail %}
            <img src="{{ product.thumbnail }}" alt="{{ product.name }}" width="150" height="100">
            {% endif %}

            <p>{{ product.description|truncatewords:25 }}</p>

            <p>Harga: Rp {{ product.price }}</p>
            <p>Kategori: {{ product.category }}</p>
            <p>Stock: {{ product.stock }}</p>
            
            <a href="{% url 'main:show_product' product.id %}"><button>Detail</button></a>

        </div>
        <hr>
        {% endfor %}
    {% endif %}
    {% endblock content %}
</body>
</html>
