{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head><meta charset="utf-8"/><title>{{ product.name }}</title></head>
<body>
  {% block content %}
  <a href="{% url 'main:show_main' %}"><button>← Back</button></a>
  <h1>{{ product.name }}</h1>
  {% if product.thumbnail %}
    <p><img src="{{ product.thumbnail }}" alt="{{ product.name }}" width="200"></p>
  {% endif %}
  <p>{{ product.description }}</p>
  <p>Price: Rp {{ product.price }}</p>
  <p>Category: {{ product.category }}</p>
  <p>Stock: {{ product.stock }}</p>

  {% if product.user %}
    <p>Author: {{ product.user.username }}</p>
  {% else %}
    <p>Author: Anonymous</p>
  {% endif %}

  {% endblock content %}
</body>
</html>
